<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CrowdBeat"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Player_Page"
            android:exported="true"
            android:label="@string/title_activity_remote_java"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Guest_Preference_Page"
            android:exported="false" />
        <activity
            android:name=".Host_Main_Page"
            android:exported="false" />
        <activity
            android:name=".Guest_Join_Event_Page"
            android:exported="false" />
        <activity
            android:name=".Host_Create_Event_Page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Guest_Main_Page" android:exported="true" />
        <activity android:name=".Add_Song_Page" android:exported="true"/>



    </application>

</manifest>